body {
  margin: 25px;
}

.fragments-header-div{
  text-align: center;
  border: 3px solid blue;
  background: lightgray url("spaners.jpg");
  border-radius: 25px;
  color: #00178b;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.d-grid{
  padding: 25px 0 25px 0;
}

.hours {
  padding: 25px;
  text-align: center;
}

.email-confirmation {
  padding: 25px;
  text-align: center;
}

.service{
  justify-content: center;
}

.footer{
  padding-top: 50px;
  display: flex;
  align-items: flex-end;
}