<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <div class="fragments-header-div">
        <div class="fragments-header-text">
        <h1 >Zakład Mechaniki Pojazdowej</h1>
        <h2>DO BRAMY I SIĘ NIE ZNAMY</h2>
        </div>
    </div>
</header>

<div th:fragment="options">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="/"
           class="link-primary link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Strona główna</a>
        <a href="/service"
           class="link-primary link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover">Usługi</a>
        <a href="/opening-hours"
           class="link-primary link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover">Godziny otwarcia</a>
        <a href="/contact"
           class="link-primary link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover">Kontakt</a>

    </div>
</div>

<footer th:fragment="footer" class="footer">
    <p style="align-content: flex-end">Wszelkie prawa zastrzeżone: &copy;</p>
</footer>

</body>
</html>