<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Strona główna</title>
</head>
<body>
<main>
    <div layout:fragment="content" style="text-align: justify">
        <h2>O firmie:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero odio, euismod non consequat ac, tincidunt et
            erat. Mauris est nibh, semper sed enim eu, ornare venenatis lectus. Nunc sed semper purus. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc nec nisi aliquam, ultrices est egestas,
            bibendum lacus. In hac habitasse platea dictumst. Ut efficitur quis urna vitae condimentum. Nulla facilisi. Phasellus
            vel commodo ligula. In sit amet justo odio. In dictum tincidunt ullamcorper. Ut risus tortor, tempor at condimentum
            eu, elementum et diam. Donec consequat libero a leo accumsan, ac pulvinar libero facilisis. Nam sollicitudin ante
            justo, in sodales ante elementum non. Ut pharetra orci eget est pharetra imperdiet. Duis pellentesque nisl libero,
            ut hendrerit lectus mattis quis. Aenean id velit rhoncus, iaculis nibh sit amet, luctus dui. Duis et ultrices tortor,
            in auctor nibh. Donec lacinia rhoncus nisl sit amet consectetur. Aliquam porttitor est arcu, et congue purus tempor non.
            Donec pharetra laoreet aliquam. Praesent nec nisl dictum, faucibus tellus in, rutrum nunc. Phasellus a eros ante.
        </p>
    </div>
</main>
</body>
</html>